.ai-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.ai-modal-content {
    background: #fff;
    width: 90%;
    max-width: 450px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: #222;
    position: relative;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
    cursor: pointer;
}

#camera, #canvas {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    display: none;
}

.camera-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #2E8B57;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
